elevenlabs
speechrecognition
pyaudio
openai
dotenv
langgraph
grandalf
uvicorn
fastapi
pydantic
pydub
langsmith
langchain_core
google-generativeai
tavily-python
llama-index
qdrant-client
llama-index-vector-stores-qdrant
loguru